<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>

<div class="wrapper fadeInDown">
  <div id="formContent">
      <!-- Cadastro Form -->
    <form id="form-cadastro">
      <input type="text" id="nome" class="fadeIn second" name="nome" placeholder="Nome">
      <input type="text" id="nick" class="fadeIn second" name="nick" placeholder="Nick">
      <input type="text" id="email" class="fadeIn second" name="email" placeholder="Email">
      <input type="password" id="senha" class="fadeIn second" name="senha" placeholder="Senha">
      <input type="password" id="confirmarSenha" class="fadeIn second" name="confirmarSenha" placeholder="Confirmar Senha">
      <a href="/login">Click aqui para fazer login</a>
      <button type="submit" class="fadeIn second">Cadastrar</button>
    </form>
  </div>
</div>
<script src="./assets/js/jquery.min.js"></script>
<script src="./assets/js/cadastro.js"></script>
</body>
</html>